{{template "admin" .}} {{define "content"}}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Payment Preview</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Payment</li>
        <li class="breadcrumb-item active">Preview</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    {{$p := index .Data "payment"}}
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Payment Preview</h5>
            <!-- Table with stripped rows -->
            <table class="table">
              <thead>
                <tr>
                  <th>Customer ID</th>
                  <th>Month</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{$p.CustomerId}}</td>
                  <td>{{$p.Month}}</td>
                  <td>{{$p.Amount}}</td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

            <a href="/admin/pay" class="btn btn-outline-dark">
              Add Payment
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
{{end}}
