{{template "admin" .}} {{define "content"}}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Customer List</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Customer</li>
        <li class="breadcrumb-item active">List</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Customer List</h5>
            <!-- Table with stripped rows -->
            <table class="table">
              <thead>
                <tr>
                  <th>Customer ID</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Contract Status</th>
                  <th>Customer Image</th>
                  <th>Date of Entry</th>
                  <th>Recorder <sup>user</sup></th>
                </tr>
              </thead>
              <tbody id="listCustomers">
                {{$u := index .Data "user"}}
                {{range $cust := index .Data "customers"}}
                    <tr>
                        <td>{{$cust.CustomerId}}</td>
                        <td>{{$cust.FirstName}}</td>
                        <td>{{$cust.LastName}}</td>
                        <td>{{$cust.Status}}</td>
                        <td><img class="img-fluid" src="data:image/png;base64,{{convertToBase64 $cust.CustImage}}" alt="customer image"></td>
                        <td>{{humanDate $cust.UpdatedAt}}</td>
                        <td>{{$u.Username}}</td>
                    </tr>
                {{end}}
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li id="prevGroup" class="page-item">
                  <button id="prevPage" class="page-link" tabindex="-1" aria-disabled="true">Prev</button>
                </li>
                <li id="nextGroup" class="page-item">
                  <button id="nextPage" class="page-link">Next</button>
                </li>
              </ul>
            </nav>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
{{end}}

{{define "js"}}
  <script>
    {{$u := index .Data "user"}}
    const listCustEl = document.getElementById("listCustomers")
    const nextPage = document.getElementById("nextPage")
    const prevPage = document.getElementById("prevPage")
    const nextGroupEl = document.getElementById("nextGroup")
    const prevGroupEl = document.getElementById("prevGroup")
    let page = 1

    if(page === 1){
      nextGroupEl.classList.remove("disabled")
      prevGroupEl.classList.add("disabled")
    }else{
      prevGroupEl.classList.remove("disabled")
    }
    nextPage.addEventListener("click", function(){
      page++
      fetch(`http://localhost:8081/api/list-customers/${page}`)
        .then(resp => resp.json())
        .then(function(resp) {
          if(resp.error === true){
            throw new Error(resp.message)
          }

          if(resp.customers.length < 6){
            nextGroupEl.classList.add("disabled")
            prevGroupEl.classList.remove("disabled")
          }else{
            nextGroupEl.classList.remove("disabled")
          }

          listCustEl.innerHTML = ""
          resp.customers.forEach(function(cust){
            const username = '{{$u.Username}}'
            listCustEl.innerHTML += `
              <tr>
                <td>${cust.CustomerId}</td>
                <td>${cust.FirstName}</td>
                <td>${cust.LastName}</td>
                <td>${cust.Status}</td>
                <td><img class="img-fluid" src="data:image/png;base64,${cust.CustImgString}" alt="customer image"></td>
                <td>${cust.UpdatedAtString}</td>
                <td>${username}</td>
              </tr>
            `
          })
        }).catch(function(error){
          if(error.message === "no more data"){
            nextGroupEl.classList.add("disabled")
          }
          notify(`${error.message}`, "warning")
        })
    })  
    
    prevPage.addEventListener("click", function(){
      page--
      fetch(`http://localhost:8081/api/list-customers/${page}`)
        .then(resp => resp.json())
        .then(function(resp) {
          if(resp.error === true){
            throw new Error(resp.error)
          }

          if(page === 1){
            nextGroupEl.classList.remove("disabled")
            prevGroupEl.classList.add("disabled")
          }else{
            prevGroupEl.classList.remove("disabled")
          }

          listCustEl.innerHTML = ""
          resp.customers.forEach(function(cust){
            const username = '{{$u.Username}}'
            listCustEl.innerHTML += `
              <tr>
                <td>${cust.CustomerId}</td>
                <td>${cust.FirstName}</td>
                <td>${cust.LastName}</td>
                <td>${cust.Status}</td>
                <td><img class="img-fluid" src="data:image/png;base64,${cust.CustImgString}" alt="customer image"></td>
                <td>${cust.UpdatedAtString}</td>
                <td>${username}</td>
              </tr>
            `
          })
        }).catch(function(error){
          notify(`${error.message}`, "warning")
        })
    })

  </script>
{{end}}